// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button1{
    display: inline-block;
    padding: 8px 20px;
    background-color: rgb(255, 91, 41);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus, &:focus-visible{
      background-color: rgb(255, 154, 60);
      color: #ffffff;
    }
  }

.button2 {
        display: inline-block;
        padding: 10px 40px;
        background-color: rgba(220, 169, 74, 0.616);
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
     
    
     &:hover {
        background-color: rgb(255, 176, 79);
      } 
    }

.btnn{
  border: 0px;
  color: rgb(252,177,1);
  background-color: rgba(0, 0, 0, 0);

  @media (min-width: 768px) {
    /* Media query for mobile and tablet screens */
    pointer-events: none;
    cursor: default;
  }
}
.bannerbutton{
  font-size: 18px;
  color: #e62121 ;
}
.bannerbutton2{
  color: #ea4b4b ;
  background-color: #f1bfbf9a;
}