// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  // color: $brand-color;
  text-decoration: none;
}


.boxcar {
  border-radius:10px;
  background: #ffffff00;
  margin-left: 1px;
  &:hover {
  background: #ffffff;  

}}

.collection{
  background-color: rgb(253, 250, 250);
}
.hover-text{
  color: #000000;
  &:hover{
    color: rgb(255, 136, 0);
  }
}


.footerp{
  font-size: 13px;
}
.footerelm{
  font-size: 14px;
}
.border-line{
  border-right: 1px solid;
  width: 20%;
  padding-left: 30px;
  

    @media (max-width: 768px)  {
      border-right: none;
      width: 100%;
    }
  &:last-child{
      border-right: none;
      
    }

}
.navitem{
  text-decoration: none;
  list-style-type: none;
  padding-left: 15px;
}


.inputitem {
  background: rgba(255,255,255,0);
  border: none;
  display: block;
  outline: none;
  color: #f54500;
  font-size: 16px;
  width: 150px;
  padding-top: 8px;
  display: flex;
}

.justifycontentbetween{
  justify-content: space-between;
  @media (max-width: 768px)  {
    justify-content: center;
    
  }
}