// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbarbrand{
    color: rgb(252, 177, 1);
    // font-weight: 700;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    padding-left: 15px;
}
.icon{
    color: rgb(252, 177, 1);
}
.navbar-nav{
    font-family: 'Agdasima', sans-serif;
    font-weight: 700;
    letter-spacing: 4px;
}

.header{
    font-size: .7em;
    
}
.navlink{
    color: rgb(80, 80, 80);
    font-size: 14px;
}
.border-t{
    border-top: 5px solid rgb(255, 196, 0);
}
.bordertop{
    border-top: 5px solid white;
}