// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
.carimg{
    width: 90%;
}
.bgcol{
    background-color: #2b2b2b;
    color: #fff;
}
.review{
    width: 80px;
}